echo "data/" >> .gitignore
echo "*.tgz" >> .gitignore
echo "*.zip" >> .gitignore
echo "*.tar" >> .gitignore
echo "*.tar.gz" >> .gitignore
echo "*.tar.bz2" >> .gitignore
echo "*.tar.xz" >> .gitignore
echo "*.tar.lz" >> .gitignore
echo "*.tar.lzma" >> .gitignore